body, h1, h2,h3,h4,h5,h6,p,dl,dd,ol,ul,form, input,textarea,th,td,select { margin:0; padding:0;}
em,i { font-style:normal;}
li { list-style:none;}
a { text-decoration:none; cursor:pointer; color: black;}
a:focus {outline:none;}
b{ font-weight:normal;}
img { border:none; vertical-align:top;}
input, textarea {vertical-align: middle;outline: none; border:none; background:none;box-sizing:content-box;}
textarea { resize:none; overflow:auto; }
table { border-spacing:0px; border:none; border-collapse:collapse;}
body, input, select, button, textarea { font-size: 12px;font-family: "微软雅黑";background:#fff;}
html, body {position: relative;height: 100%;color: #333;background-color: #f5f5f5;}

.clear:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.clear{zoom:1} 
.centerbox{
    width:1200px;
    min-width: 1200px;
    margin:0 auto;
}

.WXtop{
    height: 3.5rem;
    background: url("http://qn.jcbjxyh.cn/mp/xyhweb/donation/wxtop.png") no-repeat center center;
    background-size: cover;
    text-align: center;
}
.WXtop img{
    width: 2.85rem;
    margin-top: 0.5rem;
}
.centerView2{
    min-height: 100%;
    background-color: #fff;
}
.WXDescrible {
    padding:0 0.25rem;
    height: 100%;
    line-height: 0.78rem;
    text-align: center;
    font-size: 0.28rem;
    color: #2c3e50;
    border-radius: 4px;
}
.WXbody{
    padding:0 0.25rem;
}
.WXtit{
    height: 0.78rem;
    background-color: #eab90d;
    border-radius: 4px;
    box-shadow: 0 0 5px #eab90d;
    margin:0.1rem 0 0.35rem 0;
}
.WXtitlis{
    float: left;
    height: 100%;
    line-height: 0.78rem;
    text-align: center;
    width: 25%;
    font-size: 0.28rem;
    color: #fff;
}
#WXCon{
    height: 5rem;
    border-radius: 4px;
    box-shadow: 0 0 5px #ccc;
    padding:0.16rem 0;
    overflow: hidden;
    display: block;
}
.wxcontact-con img,.wxcontact-con table{
	max-width:100%;
	text-indent:0;
}
.WXtitlis1{
    float: left;
    line-height: 0.65rem;
    font-size: 0.24rem;
    width: 25%;
    text-align: center;
}
.strengthen{
    font-weight: bold;
}

.centerView3{
    min-height: 100%;
    background-color: #fff;
    padding:0.74rem 0.35rem 0;
    overflow: hidden;
}
.wxjian-top{
    height: 0.87rem;
    position: relative;
    line-height: 0.87rem;
    border-bottom: 1px solid #e6e6e6;
    font-size: 0.44rem;
    margin-bottom: 0.45rem;
}
.wxjian-top p{
    position: absolute;
    width: 0.4rem;
    height: 0.04rem;
    background-color: #eab90d;
    left: 0;
    top: 0;
}
.wxjian-con{
    font-size: 0.32rem;
    line-height: 0.52rem;
    text-indent: 2em;
}
.wxcontact-lis{
    font-size: 0.32rem;
    line-height: 0.65rem;
}
.wxcontact-lis span{
    display: inline-block;
    float: left;
}
.wxcontact-lis p{
    float: left;
    color: #666;
}
.WXerweima{
    width: 3.3rem;
    height: 3.3rem;
    margin:0.65rem auto 0.3rem;
    padding:0.12rem;
    box-sizing:border-box;
    box-shadow: 0 0 5px #ccc;
}
.WXerweima img{
    width: 100%;
    height: 100%;
}
.WXguanzhu{
    font-size: 0.32rem;
    text-align: center;
}
.wxd-top{
    font-size: 0.42rem;
    line-height: 0.58rem;
}
.wxd-tit{
    font-size: 0.24rem;
    color: #999;
    line-height: 0.8rem;
}
.wxd-tit p{
    float: left;
}
.wxd-titl{
    margin-right: 0.4rem;
}
.wxd-img{
    height: 3.2rem;
    margin-bottom: 0.4rem;
}
.wxd-img img{
    width: 100%;
    height:100%;
}
.wxd-con{
    font-size: 0.4rem;
    line-height: 0.6rem;
}
.centerView5{
    min-height: 100%;
    background-color: #f5f5f5;
}
.swiper-container{
    height: 3rem;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
}
.swiper-slide p{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.72rem;
    line-height: 0.72rem;
    background-size: 100% 100%;
    font-size: 0.3rem;
    color: #fff;
    padding-left: 0.2rem;
}
.swiper-pagination-bullet{
    background: #fff !important;
    opacity:1 !important;
}
.swiper-pagination{
    left: auto !important;
    right: 0 !important;
    width: auto !important;
}
.swiper-pagination-bullet-active{
    background-color: #eab90d !important;
}
.wxNewsbox{
    margin-top: 0.2rem;
    background-color: #fff;
}
.wxNewsLis{
    padding:0.3rem 0.2rem 0.2rem;
    border-bottom: 1px solid #e6e6e6;
}
.wxNewsLis-img{
    width: 2rem;
    height:1.5rem;
    float: left;
    overflow: hidden;
}
.wxNewsLis-img img{
    width:100%;
    height:100%;
}
.wxNewsLis-con{
    margin-left: 2.3rem;
}
.wxNewsLis-tit{
    font-size: 0.34rem;
    line-height: 0.5rem;
    margin-bottom: 0.2rem;
}
.wxNewsfoot-l{
    font-size: 0.24rem;
    color: #999;
    float: left;
}
.wxNewsfoot-r{
    font-size: 0.24rem;
    color: #666;
    padding-left: 0.3rem;
    float: right;
    background-size: 0.24rem 0.24rem;
}
.wxd-con img,.wxd-con table{
    max-width:100%;
    text-indent:0;
}
.net_error {
    height: 6rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0 0 5px red;
    margin:0.1rem 0 0.35rem 0;
}

.net_error p {
    font-size: 0.24rem;
    color: red;
}

.power {
    position: relative;
    margin-top: 0.2rem;
    text-align: center;
    width: 100%;
    font-size: 0.24rem;
}

.power > a {
    color: red;
}